<div class="px-3 main">
    <div class="p-lg-5 m-lg-5">
        <div class="row">
            <div class="col-md-6 p-3">
                <h3 class="text-Info title">Introduction</h3>
                <div class="card shadow-lg">
                    <h5 class="text-center">Add Introduction content</h5>
                    <div class="card-body">
                        <div>
                            <input type="text" class="form-control mb-3" placeholder="Add the title here">
                        </div>
                        <input type="text" class="form-control" placeholder="Add the Heading here">
                        <div class="mb-3">
                            <label for="image" class="form-label">Select an image</label>
                            <input type="file" class="form-control" id="image" name="image" accept="image/*">
                        </div>
                        <input type="text" class="form-control mb-3" placeholder="Add Button Name">
                        <input type="text" class="form-control" placeholder="Add Button Link">
                    </div>
                    <div class="text-center mb-3">
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 p-3">
                <h3 class="text-Info title">Product</h3>
                <div class="card shadow-lg">
                    <h5 class="text-center">Add Product content</h5>
                    <div class="card-body">
                        <input type="text" class="form-control mb-3" placeholder="Add the title here">
                        <input type="text" class="form-control" placeholder="Add the Heading here">
                        <div class="mb-3">
                            <label for="image" class="form-label">Select a product Image</label>
                            <input type="file" class="form-control" id="image" name="image" accept="image/*">
                        </div>
                        <input type="text" class="form-control mb-3" placeholder="Add Button Name">
                        <input type="text" class="form-control" placeholder="Add Button Link">
                    </div>
                    <div class="text-center mb-3">
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>